* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#009688 20%, #d8dbd6);
}

.container {
  width: 80%;
  height: 600px;
  margin: 20px auto;
  background-color: blue;
}

/* classi riutilizzabili */
.left {
  float: left;
}

.right {
  float: right;
}

/* parte di sinistra  */
.container .left {
  width: 40%;
  height: 100%;
  background-color: pink;
}

/* header-left */
.left .header-left {
  height: 15%;
  background-color: green;
}

.left .header-left .user img {
  width: 15%;
  border-radius: 50%;
}

.left .header-left .setting {
  line-height: 50%;
  vertical-align: middle;
}

/* notification */
.left .notification {
  height: 15%;
  background-color: red;
}

/* search */
.left .search {
  height: 10%;
  background-color: blue;
}

/* contacts */
.left .contacts {
  height: 60%;
  background-color:lightblue;
}

/* parte di destra */
.container .right {
  width: 60%;
  height: 100%;
  background-color: violet;
}

.right .header-right{
  height: 15%;
  background-color: lightgreen;
}

.right .main-text{
  height: 70%;
  background-color: white;
}

.right .message{
  height: 15%;
  background-color: black;
}
