* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#009688 20vh, #d8dbd6 60vh);
  overflow: hidden;
}

.container {
  width: 80%;
  min-width: 930px;
  height: 90%;
  margin: 20px auto;
}

/* classi riutilizzabili */
.left {
  float: left;
}

.right {
  float: right;
}

/* parte di sinistra  */
.container .section-left {
  width: 40%;
  height: 100%;
}

/* header-left */
.section-left .header-left {
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}

.section-left .header-left .user {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-left .header-left .user img {
  width: 60px;
  height: 60px;
  margin: 5px 0 0 10px;
  border-radius: 50%;
}

.section-left .header-left .user span {
  padding-left: 10px;
}

.section-left .header-left .setting {
  line-height: 70px;
  vertical-align: middle;
}

.section-left .header-left .setting i{
  color: #b1b1b1;
  padding-right: 15px;
  font-size: 120%;
}


/* notification */
.section-left .notification {
  height: 70px;
  background-color: #8edafc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.section-left .notification i {
  background-color: white;
  color: #8edafc;
  padding: 10px;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 120%;
}

.section-left .notification .notifications p#notifications-desktop{
  color: #7aa8ac;
  text-decoration: underline;
}

/* search */
.section-left .search {
  height: 50px;
  background-color: #eaeaea;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-left .search input{
  width: 90%;
  height: 40px;
  padding-left: 50px;
  border: none;
}

.section-left .search i{
  position: absolute;
  top: 15px;
  left: 40px;
  color: #b1b1b1;
}

/* contacts */
.section-left .contacts {
  height: calc(100% - 70px - 70px - 50px);
  background-color: white;
  padding: 10px;
  overflow-y: scroll;
}

.section-left .contacts .contact {
  width: 100%;
  height: 70px;
  padding: 5px 0;
  border-bottom: 1px solid #b1b1b1;
}

.section-left .contacts .contact:hover {
  background-color: #eaeaea;
}

.section-left .contacts .contact img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border-radius: 50%;
}

.section-left .contacts .contact:last-child {
  border-bottom: none;
}

.section-left .contacts .contact img {
  margin-right: 10px;
}

/* parte di destra */
.container .section-right {
  width: 60%;
  height: 100%;
}

/* header-right */
.section-right .header-right{
  height: 70px;
  background-color: #eaeaea;
  border-left: 1px solid #b1b1b1;
}

.section-right .header-right .user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}

.section-right .header-right .user p:last-child {
  color: #b1b1b1;
}

.section-right .header-right img {
  width: 60px;
  height: 60px;
  margin: 5px 10px 0 10px;
  border-radius: 50%;
}

.section-right .header-right .setting i{
  line-height: 70px;
  vertical-align: middle;
  padding-right: 15px;
  color: #b1b1b1;
  font-size: 120%;
}

/* main-text */
.section-right .main-text{
  height: calc(100% - 70px - 70px);
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
}

.section-right .main-text .text {
  padding: 50px;
}

.section-right .main-text .text .message {
  position: relative;
  min-width: 30%;
  max-width: 70%;
  font-size: 15px;
  margin: 8px 0;
  padding: 15px 15px 20px 15px;
  border-radius: 15px;
  word-wrap: break-word;
}

.section-right .main-text .text .message.sent{
  background-color: lightgreen;
  clear: both;
  display: none;
}

.section-right .main-text .text .message.sent.active {
  display:block;
}

.section-right .main-text .text .message.received{
  background-color: white;
  clear: both;
  display: none;
}

.section-right .main-text .text .message.received.active {
  display:block;
}



/* footer */
.section-right .footer{
  height: 70px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-right .footer input {
  width: 80%;
  height: 50px;
  padding-left: 20px;
  border: none;
}

.section-right .footer i {
  padding: 0 30px;
  font-size: 150%;
  color: #6b7376;
}
