* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#009688 20%, #d8dbd6);
}

.container {
  width: 80%;
  height: 600px;
  margin: 20px auto;
  background-color: blue;
}

/* classi riutilizzabili */
.left {
  float: left;
}

.right {
  float: right;
}

/* parte di sinistra  */
.container .left {
  width: 40%;
  height: 100%;
  background-color: pink;
}

/* header-left */
.section-left .header-left {
  width: 100%;
  height: 90px;
  background-color: green;
}

.section-left .header-left .user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 90px;
  vertical-align: middle;
}

.section-left .header-left .user p {
  line-height: 90px;
  vertical-align: middle;
}

.section-left .header-left .setting {
  line-height: 90px;
  vertical-align: middle;
}

.section-left .header-left .setting i{
  padding-right: 10px;
}


/* notification */
.section-left .notification {
  height: 15%;
  background-color: red;
}

/* search */
.section-left .search {
  height: 10%;
  background-color: blue;
}

/* contacts */
.section-left .contacts {
  height: 60%;
  background-color:lightblue;
}

/* parte di destra */
.container .section-right {
  width: 60%;
  height: 100%;
  background-color: violet;
}

.section-right .header-right{
  height: 15%;
  background-color: lightgreen;
}

.section-right .main-text{
  height: 70%;
  background-color: white;
}

.section-right .message{
  height: 15%;
  background-color: black;
}
