<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/it.min.js" integrity="sha512-abyAPza1Q/3PRl2L54rOvygrx/XIkupvWrs7sNm+jD6gfNf3+MEvPJzdSG4LyYWSTA8NY7AnTCnRz5NNyvsg0w==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzap</title>
</head>
<body>
  <div class="container" id="boolzap">
    <!-- parte di sinistra -->
    <div class="section-left left">
      <!-- header -->
      <div class="header-left">
        <div class="user left" v-for="element in sender">
          <img :src="element.image" alt="">
          <span><strong>{{ element.name }}</strong></span>
          <!-- <img src="img/avatar_io.jpg" alt="" >
          <span><strong>Nome Utente</strong></span> -->
        </div>
        <div class="setting right">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- notification -->
      <div class="notification">
        <i class="fas fa-bell-slash left"></i>
        <div class="notifications left">
          <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>
          <p id="notifications-desktop">Attiva notifiche desktop</p>
        </div>
      </div>
      <!-- search -->
      <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" name="text" placeholder="Cerca o inizia una nuova chat" v-model="textUser" @keyup="searchUsers">
      </div>
      <!-- contacts -->
      <div class="contacts">
        <div class="contact" v-for="(element, index) in contacts" @click="chooseContact(index)">
          <img :src="element.avatar" alt="" class="left">
          <span class="left"><strong>{{ element.name }}</strong></span>
        </div>
      </div>
    </div>
    <!-- / parte di sinistra -->
    <!-- parte di destra -->
    <div class="section-right right">
      <!-- header -->
      <div class="header-right">
        <img :src="contacts[counter].avatar" alt="" class="left">
        <div class="user left" >
          <p><strong>{{ contacts[counter].name }}</strong></p>
          <p>Ultimo accesso oggi alle</p>
        </div>
        <div class="setting right">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- main-text -->
      <div class="main-text">
        <div class="text">
          <div class="message active" :class="(item.status == 'received') ? 'received' : 'sent'" v-for="(item, index) in contacts[counter].messages" >
            {{ item.text }}
            <div class="date">
              {{item.date}}
            </div>
          </div>
          <!-- <div class="message sent right">
            Vorresti andare al cinema?
          </div>
          <div class="message received left">
            Certo, con piacere. A che ora ci vediamo?
          </div>
          <div class="message sent right">
            Ci vediamo alle 20:00 al Metropolitan.
          </div> -->
        </div>
      </div>
      <!-- footer -->
      <div class="footer">
        <i class="far fa-smile"></i>
        <input type="text" name="text" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage" v-model="messageUser">
        <i class="fas fa-microphone"></i>
      </div>
    </div>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
